# CODEOWNERS
#
# Documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Order is alphabetical for easier maintenance.
#
# Aaron Tye (atye)
# Alex Babiychuk (alexemc)
# Aly Nathoo (anathoodell)
# Christin Coffield (ChristianAtDell)
# Deepak Ghivari (Deepak-Ghivari)
# Don Khan (donatwork)
# Evgeny Uglov (EvgenyUglov)
# Francis Nijay (francis-nijay)
# Jacob Grosner (JacobGros)
# Karthik K (karthikk92)
# Keerthi Bandapati (bandak2)
# Oliver Chen (OliverChen557)
# Rajendra Indukuri (rajendraindukuri)
# Shayna Finocchiaro (shaynafinocchiaro)
# Spandita Panigrahi (panigs7)

# for all files:
* @atye @alexemc @anathoodell @ChristianAtDell @Deepak-Ghivari @donatwork @EvgenyUglov @francis-nijay @JacobGros @karthikk92 @bandak2 @OliverChen557 @rajendraindukuri @shaynafinocchiaro @panigs7
